/*  Stylesheet for Jumpstart */

/* -------general------- */

html {
  --button-color: #399bd1;
  --nav-color: #399bd1;
  --highlight-color: #399bd1;
  font-size: 14px;
}

.button {
  background-color: var(--button-color);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  width: 11.4rem;
  margin-top: 2.8rem;
  margin-left: auto; /* center button in middle of page */
  margin-right: auto;
  padding: 1.3rem;
  border-radius: 5px;
  text-align: center; /* center text in middle of button */
}

h2 {
  color: var(--highlight-color);
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1.43rem; /* specified as 20px, which is 1.43rem at base font size 14px; */
}

p {
  margin-bottom: 1rem;
}

/* -------header------- */

header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

nav a {
  font-family: "Open Sans";
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--nav-color);
  padding-right: 1.5rem;
}

header img {
  margin-top: auto; /* these allow the image to keep its intended ratios */
  margin-bottom: auto;
}

/* -------carousel------- */

/* -------featured project------- */

/* #featured-project img {
  padding-left: 1rem;
  padding-right: 1rem;
}

.vertical-section {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.horizontal-section {
  display: inline-flex;
  flex-direction: row;
} */

#featured-project img {
  box-sizing: border-box;
  max-width: 100%; /* Needed to allow image to shrink */
  height: auto;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

/* -------projects------- */

/* #projects {
  padding: 5.2rem;
} */

.article {
  /* box-sizing: border-box; */
  /* padding: .5rem;
  margin: 0.5rem; */
  max-width: 90%;
  overflow: hidden;
  margin-bottom: 4.85rem;
}

.article img {
}

.article h3 {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}

.article p {
  /* margin: .5rem; */
  max-width: 480px; /* this is the maximum width of the images */
}

/* -------footer------- */

footer {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-content: center; */
  padding-top: 5.2rem;
  padding-bottom: 5.2rem;
  background-color: #f3f3f3;
  width: 100%;
}

footer h5 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.4rem;
}

footer p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 42rem;
}
